
body{
	font-family: 'Roboto', sans-serif;
	background-color: #000000;
}

.espace_vide{
	background-color: rgba(255, 255, 255, 0.979);
	height: 40px;
}

.disable-selection{
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}